footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 25px;
    background-color: #5a6b61;
    opacity: 0.9;
    display: flex;
    p {
      margin: auto;
      color: white;
    }
  }
  