.modal {
  display: flex;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.bg-click {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}
  .callout {
    position: relative;
    z-index: 99;
    width: 600px;
    height: 400px;
    background-color: black;
  }
  .login {
    display: block;
    width: 200px;
    h1 {
      position: relative;
      left: 230px;
      font-family: Oregon;
      font-size: 60px;
      color: white;
    }
  
    label {
      position: relative;
      left: 100px;
      font-family: Oregon;
      font-size: 30px;
      color: white;
    }
  
    input {
      position: relative;
      left: 200px;
      margin-top: 10px;
      box-sizing: border-box;
      width: 100%;
      padding: 10px 20px;
    }
  
    #submit {
      font-family: Oregon;
      background-color: black;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      font-size: 30px;
    }
  }