nav{
    height: 50px;
       background-color: black;
       display: flex;
       align-items: center;
       justify-content: space-evenly;

    a {
      font-family: Oregon;
      text-decoration: none;
      color: white;
      text-align: center;
       }
    }
  

  .nav{
    height: 0px;
  }
  